:root {
    --bg: #FFDAB9;
    --bg2: #f0c9a6;
    --fg: #2d1810;
    --accent1: #e07850;
    --accent2: #ffe8d0;
    --accent3: #c9956b;
    --accent4: #8b5e3c;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--fg);
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 0;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    font-family: "rader";
    font-style: italic;
    line-height: 0.95;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  a {
    text-decoration: none;
    color: var(--fg);
  }
  
  p,
  p.ss {
    font-family: "formula-narrow";
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.125;
  }
  
  p.mn {
    text-transform: uppercase;
    font-family: "supply-mono";
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125;
  }
  
  /* contact cta */
  .contact-cta {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-cta .contact-button {
    position: relative;
    width: 60%;
    height: 300px;
    border: 0.75em solid var(--fg);
    border-radius: 20em;
    background: linear-gradient(
      45deg,
      var(--accent1),
      var(--accent2),
      var(--accent3),
      var(--accent4)
    );
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s ease;
    animation: gradientMove 10s ease-in-out infinite;
    box-shadow: 10px 10px 0px 5px var(--fg);
    overflow: hidden;
    cursor: pointer;
  }
  
  .contact-cta a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .contact-cta .contact-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.125) 0px,
      rgba(0, 0, 0, 0.125) 15px,
      transparent 15px,
      transparent 30px
    );
    animation: stripeMove 30s linear infinite;
  }
  
  .contact-cta .contact-text-small {
    position: relative;
    z-index: 1;
  }
  
  .contact-cta .contact-text-large {
    position: relative;
    z-index: 1;
  }
  
  .contact-cta .contact-text-large h1 {
    font-size: 7rem;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes stripeMove {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @media (max-width: 1000px) {
    h1 {
      font-size: 2.5rem;
    }
  
    .contact-cta {
      height: max-content;
      padding: 8em 2em;
    }
  
    .contact-cta .contact-button {
      width: 95%;
      height: 250px;
      gap: 1em;
      border-radius: 2em;
    }
  
    .contact-cta .contact-text-small {
      width: 75%;
      text-align: center;
    }
  
    .contact-cta .contact-text-large h1 {
      font-size: 3rem;
    }
  }